<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FF8Mod.Maelstrom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FF8Mod.Maelstrom.Properties.Settings>
            <setting name="GameLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="BossShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BossRebalance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StorySkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawPointShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeedSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeedValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NameSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameSquall" serializeAs="String">
                <value>Squall</value>
            </setting>
            <setting name="NameRinoa" serializeAs="String">
                <value>Rinoa</value>
            </setting>
            <setting name="NameQuezacotl" serializeAs="String">
                <value>Quezacotl</value>
            </setting>
            <setting name="NameShiva" serializeAs="String">
                <value>Shiva</value>
            </setting>
            <setting name="NameIfrit" serializeAs="String">
                <value>Ifrit</value>
            </setting>
            <setting name="NameSiren" serializeAs="String">
                <value>Siren</value>
            </setting>
            <setting name="NameBrothers" serializeAs="String">
                <value>Brothers</value>
            </setting>
            <setting name="NameDiablos" serializeAs="String">
                <value>Diablos</value>
            </setting>
            <setting name="NameCarbuncle" serializeAs="String">
                <value>Carbuncle</value>
            </setting>
            <setting name="NameLeviathan" serializeAs="String">
                <value>Leviathan</value>
            </setting>
            <setting name="NamePandemona" serializeAs="String">
                <value>Pandemona</value>
            </setting>
            <setting name="NameCerberus" serializeAs="String">
                <value>Cerberus</value>
            </setting>
            <setting name="NameAlexander" serializeAs="String">
                <value>Alexander</value>
            </setting>
            <setting name="NameDoomtrain" serializeAs="String">
                <value>Doomtrain</value>
            </setting>
            <setting name="NameBahamut" serializeAs="String">
                <value>Bahamut</value>
            </setting>
            <setting name="NameCactuar" serializeAs="String">
                <value>Cactuar</value>
            </setting>
            <setting name="NameTonberry" serializeAs="String">
                <value>Tonberry</value>
            </setting>
            <setting name="NameEden" serializeAs="String">
                <value>Eden</value>
            </setting>
            <setting name="NameBoko" serializeAs="String">
                <value>Boko</value>
            </setting>
            <setting name="NameGriever" serializeAs="String">
                <value>Griever</value>
            </setting>
            <setting name="NameAngelo" serializeAs="String">
                <value>Angelo</value>
            </setting>
            <setting name="ShopShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpoilerFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AbilityShuffle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicShuffle" serializeAs="String">
                <value>False</value>
            </setting>
        </FF8Mod.Maelstrom.Properties.Settings>
    </userSettings>
</configuration>